<!DOCTYPE html>
<html>
<head>
  <title><%= @title || 'Кабинет' %></title>
  <!--<%= stylesheet_link_tag "bootstrap_and_overrides.css.less" %> -->
  <!--<%= stylesheet_link_tag "main/application", :media => "all" %> -->

  <%= stylesheet_link_tag "main/reset.css" %>
  <%= stylesheet_link_tag "main/style.css" %>

  <%= stylesheet_link_tag "main/jquery.ui.css" %>
  <%= stylesheet_link_tag "main/jquery_ui_timepicker_addon.css" %>

  <%= javascript_include_tag "frameworks/jquery.min.js" %>
  <%= javascript_include_tag "frameworks/jquery.ui.js" %>
  <%= javascript_include_tag "frameworks/jquery_ui_timepicker_addon.js" %>
  <%= javascript_include_tag "frameworks/jquery.ui.datepicker-ru.js" %>
  <%= javascript_include_tag "frameworks/underscore-min.js" %>
  <%= javascript_include_tag "frameworks/backbone.js" %>
  <%= javascript_include_tag "main/application" %>


    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'train-icon.ico' %>
</head>
<body>

<%= yield %>

</body>
</html>
